body{
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
}

li{
	display: inline;
	float: left;
	margin-right: 15px;
	margin-left: 15px;

}
.header {
	position: fixed;
	width: 100%;
	text-align: center;
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 0px 0px;
  }

#mytextarea {
	width: 30px;
	size: 5px;
	height: 15px;
	margin: 50px;
}

.email{
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
}


.header img.logo {
	margin-right: 10px;
}
  
.section{
	font-size: 20px;
}
.header a {
	float: left;
	color: black;
	display: block;
	text-align: center;
	padding: 25px;
	text-decoration: none;
	font-size: 16px;
	line-height: 25px;
	border-radius: 4px;
  }
  
.header a.logo {
	font-size: 25px;
	font-weight: bold;
  }
  

.header a:hover {
	background-color: rgb(54, 151, 231);
	color: black;
  }
  
 
.header-right {
	float: right;
  }

h3 {
	text-align: center;
	font-size: 25px;
	border-bottom: 10px solid  rgb(54, 151, 231);;
	margin: 10px;
  }
.table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  }
  
